.page {
  display: flex;
  flex-direction: column;
  gap: $betweenBlocks;
  margin: 0 auto;
  padding: 20px;
  max-width: 1600px;
  min-height: 100vh;
  font-family: "LatoR", sans-serif;
  font-style: normal;
  font-weight: 400;
  // background: url("../../images/photo.jpg") top 0px left 0px / cover no-repeat;
}
